* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Mulish;
    background: #F5FAFE;
    color: #333333;
}

.container {
    width: 1105px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* info panel */

.info-panel .container {
    display: flex;
    align-items: center;
    height: 60px;
}

.info-panel a {
    font-style: normal;
    font-size: 10px;
    line-height: 13px;
    color: #333333;
}

.info-panel a:nth-child(2),
.info-panel a:last-child {
    padding-left: 37px;
    background-image: url(img/gift.png);
    background-repeat: no-repeat;
    background-size: 17px 17px;
    line-height: 17px;
    margin-left: auto;
}

.info-panel a:last-child {
    background-image: url(img/star.png);
    background-size: 17px 16px;
    margin-left: 99px;
}

/* End info panel */

/* Header styles */
header {
    background: #fff;
}

header .container {
    display: flex;
    height: 120px;
    align-items: center;
}

header a:first-child {
    font-family: "Luckiest Guy";
    font-size: 24px;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
    margin-right: 108px;
}

header a:first-child span {
    color: #EC1F46;
}

header form button {
    width: 65px;
    height: 40px;
    border-radius: 0px 6px 6px 0px;
    border: 0;
    background: #EC1F46 url(img/search.png) center no-repeat;
    text-indent: -9999px;
}

header form input {
    width: 285px;
    height: 40px;
    background: #F5FAFE;
    border-radius: 6px 0 0 6px;
    border: 0;
    padding-left: 23px;
    padding-right: 23px;
}

header .container a:last-of-type {
    width: 34px;
    height: 34px;
    margin-left: auto;
    background: url(img/shopping-cart.png) bottom left no-repeat;
    text-indent: -9999px;
    position: relative;

}

header .container a:last-of-type span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    background: #EC1F46;
    color: #fff;
    font-size: 13px;
    text-indent: 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

header .profile {
    margin-left: 53px;
    display: flex;
    align-items: center;
}

header .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    margin-right: 18px;
}

header .profile span {
    font-size: 14px;
    line-height: 18px;
}

header .profile i {
    text-indent: -9999px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    width: 10px;
    height: 10px;
    margin-left: 24px;
    transform: rotate(-45deg);
    position: relative;
    top: -3px;
}

/* End header styles */

/* nav style */

nav {
    background: #0A223D;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* end nav style */

.breadCrumb {
    height: 50px;
    display: flex;
    align-items: center;
}

.breadCrumb .container p {
    font-size: 10px;
    color: #333333;
}

/* Bread Crumb */

/* Hotel info */

.hotel-info__top .container {
    height: 100px;
    position: relative;
}

.star {
    display: flex;
    padding-top: 23px;
}

.star i {
    width: 6px;
    height: 6px;
    margin-right: 3px;
    background: url(img/Star-ratting.png);
    text-indent: -99999px;
}

.star i:last-child {
    margin-right: 0;
}

.hotel-info__top h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 0;
}

.flashOffer {
    background: #EC1F46;
    border-radius: 3px;
    width: 70px;
    height: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 39px;
    left: 282px;
}

.hotel-info__top p {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

.userRattings {
    width: 65px;
    height: 45px;
    background: #EC1F46;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 29px;
}

.userRattings p:first-child {
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: #fff;
    margin: 0;
    padding: 8px 0 2px;
}

.userRattings p:last-child {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin: 0;
}

.userRattings p span {
    font-size: 10px;
}

.hotel-info__bottom .container {
    position: relative;
    height: 450px;
}

.sliderGradient {
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
    position: absolute;
    width: 728px;
    height: 450px;
    border-radius: 8px;
}

.map {
    position: absolute;
    bottom: 0;
    right: 0;
}

.map iframe {
    border-radius: 10px;
}

/* End Hotel info */